body {
    font-family:'Montserrat', sans-serif !important;
    font-size: 15px;
    font-weight: bold;
    margin: 0 30px;
}
.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(54, 54, 54);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;

}

.navbar-brand{
    width: 70%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding : 0 1em;
}

.title {
  top: 4em;
  font-size: 60px;
  font-weight: bold;
  /* border-bottom: 3px solid black; */
  /* width:50%; */
}

.title-2 {
  top: 5em;
  font-size: 30px;
  font-weight: bold;
  /* border-bottom: 3px solid black; */
  /* width:50%; */
}

.btn-primary:hover {
  border : 1px solid black;
  background-color: white;
  color: black;
}

.btn-primary{
  border : 1px solid black;
  border-radius: 2px;
  background-color: black;
  top : 4em;
}

.text-overlay {
  position: absolute;
  top: 9em;
  left: 4.8em;
  right: 1.5em;
  font-size : 10px;
}

.text-overlay2 {
  position: absolute;
  top: 3em;
  left: 5em;
  font-size : 12px;
}

.margin-gambar{
  margin-top: 2.5em;
  
}

